@import "~bootstrap/dist/css/bootstrap.min.css";
.domainGenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ul {
    padding-left: 40%;
    padding-right: 40%;
  }
  